@page "/broker"
@attribute [Authorize(Roles = "Broker")]

<PageTitle>Broker Operations</PageTitle>

<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <h2>Broker Operations</h2>
            <p>Welcome to the Broker Operations page. This page is only accessible to staff with the Broker role.</p>
            
            <div class="alert alert-info">
                <h4>Available Operations:</h4>
                <ul>
                    <li>Manage shipment documentation</li>
                    <li>Handle customs clearance</li>
                    <li>Coordinate with clients</li>
                    <li>Track shipment status</li>
                </ul>
            </div>
        </div>
    </div>
</div>