@page "/itv"
@attribute [Authorize(Roles = "ITV")]

<PageTitle>ITV Operations</PageTitle>

<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <h2>ITV Operations</h2>
            <p>Welcome to the ITV Operations page. This page is only accessible to staff with the ITV role.</p>
            
            <div class="alert alert-info">
                <h4>Available Operations:</h4>
                <ul>
                    <li>Vehicle technical inspections</li>
                    <li>Certification management</li>
                    <li>Compliance reporting</li>
                    <li>Equipment calibration</li>
                </ul>
            </div>
        </div>
    </div>
</div>